{% extends 'base.html.twig' %}
{% block body %}
<h1 class="text-center mt-5">Find Out More About this Event 🎼</h1>
<div class="container p-2 card mt-5" style="width: 18rem;">


  <img src="{{asset('pictures/' ~  event.image)}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-danger">{{event.title}}</h5>
    <p class="card-text">Type: {{event.type}}</p>
      <p class="card-text"> Date:{{event.date | date("d M.Y")}}</p>
   
    <a href="/edit/{{event.id}}" class="btn btn-primary">Edit</a>
    <a href="/delete/{{event.id}}" class="btn btn-danger">Delete</a>


 
</div>
</div>
{% endblock %}